/***********Global********************   */
.inline {
  display: inline; }

h3 {
  font-size: 16px;
  color: purple; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h3 {
      font-size: 18px;
      color: green; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 60px;
      color: yellow; } }

.responsive-box {
  background-color: #ffe6ff;
  margin-top: 200px; }

.boxes {
  border: 1px solid gray; }

/*End responsive design testing*/
body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham', Arial, sans-serif;
  margin: 0;
  padding: 0; }

/***********Structure********************   */
.site-header {
  padding-top: 20px;
  padding-bottom: 20px; }
  .site-header .main-logo img {
    display: block;
    margin: 0 auto;
    padding: 1em; }
  .site-header .sign-in {
    color: #666;
    position: absolute;
    z-index: 1000;
    margin-left: 80%;
    margin-top: 10px;
    display: none; }
    .site-header .sign-in h5 {
      font-weight: 400; }
    .site-header .sign-in i {
      border: 1px solid gray;
      padding: 4px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .site-header .sign-in {
        margin-top: 20px;
        display: block; } }
    @media (min-width: 992px), (min-width: 1200px) {
      .site-header .sign-in {
        display: block;
        margin-left: 90%; } }
  .site-header .navbar {
    background-color: white;
    padding: 0;
    margin-bottom: 0; }
    @media (min-width: 992px) {
      .site-header .navbar {
        padding-top: 10px; } }
    @media (min-width: 1200px) {
      .site-header .navbar {
        padding-top: 40px; } }
  .site-header .navbar-toggle {
    width: 96%;
    border-radius: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .site-header .navbar-toggle {
        width: 50px;
        height: 50px; } }
  .site-header .navbar-default {
    border: none; }
  .site-header .navbar-default .navbar-toggle i {
    color: #bebcbc;
    font-size: 1.5em; }
  .site-header .menu-wide {
    text-align: center; }
  .site-header .menu-wide a {
    color: #bebcbc;
    font-weight: 400;
    font-size: 1.1em;
    padding-left: 1em; }

.main-search {
  height: 60px;
  background-color: rgba(238, 238, 238, 0.8);
  box-shadow: 0px 6px 6px  #d9d9d9; }
  .main-search .form-group {
    margin-top: 10px; }
    .main-search .form-group input, .main-search .form-group button {
      border-radius: 0; }
    .main-search .form-group input {
      width: 90%;
      height: 40px;
      padding: 1em;
      font-weight: 200;
      display: inline; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .main-search .form-group input {
          width: 50%; } }
      @media (min-width: 992px) {
        .main-search .form-group input {
          width: 40%; } }
      @media (min-width: 1200px) {
        .main-search .form-group input {
          width: 30%; } }
    .main-search .form-group input::-webkit-input-placeholder {
      color: #666; }
    .main-search .form-group input:-moz-placeholder {
      /* Firefox 18- */
      color: #666; }
    .main-search .form-group input::-moz-placeholder {
      /* Firefox 19+ */
      color: #666; }
    .main-search .form-group input:-ms-input-placeholder {
      color: #666; }
    .main-search .form-group button {
      display: inline;
      border: 2px solid black;
      height: 40px;
      width: 40px;
      font-weight: 600;
      letter-spacing: .1em; }
      .main-search .form-group button i {
        font-size: 1em; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .main-search .form-group button {
          width: 15%; } }
      @media (min-width: 992px) {
        .main-search .form-group button {
          width: 12%; } }
      @media (min-width: 1200px) {
        .main-search .form-group button {
          width: 10%; } }
    .main-search .form-group .other-search {
      display: none;
      text-transform: uppercase;
      margin-left: 10%;
      text-decoration: underline; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .main-search .form-group .other-search {
          display: inline; } }
      .main-search .form-group .other-search i {
        font-size: 1em;
        padding: .4em; }

/*# sourceMappingURL=main.css.map */
