
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 992px)";
$large: "(min-width: 1200px)";

/***********Global********************   */
$ltgrey: #bebcbc;
$dkgrey: #666;
$dkblue: #00264d;

.inline {
  display: inline;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


h3 {
  font-size: 16px;
  color: purple;

  @media #{$tablet} {
    font-size: 18px;
    color: green;
  }

  @media #{$desktop} {
    font-size: 60px;
    color: yellow;
  }
}

.responsive-box{
  background-color: #ffe6ff;
  margin-top: 200px;
}

.boxes{
  border: 1px solid gray;
}
/*End responsive design testing*/

body{
  margin: 0;
  padding: 0;
}

.t-bord {
  border: 1px solid red;
}

h1, h2, h3,h4, h5, h6 {
  font-family: 'Gotham', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/***********Structure********************   */
.site-header {

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4%;
  padding-right: 4%;

  .main-logo {

  }
  .main-logo img{
    display: block;
    margin: 0 auto;

    @media #{$tablet}, #{$desktop}, #{$large} {
      margin-left: 0;
    }
  }

  .sign-in {
    color: $dkgrey;
    padding-right: 10px;

    h5 {
      font-weight: 200;
    }
    
    i {
      padding-left: 4px;
      padding-right: 4px;
      border: 1px solid $ltgrey;
    }
  }

  .navbar {
    background-color: white;
    padding:0;
    margin-bottom:0;

    @media #{$desktop} {
      padding-top: 10px;
    }
    
    @media #{$large} {
      padding-top: 10;
    }
  }

  .navbar-toggle {
    width: 96%;
    border-radius: 0;

    @media #{$tablet} {
      width: 50px;
      height: 50px;
      margin-right: 35%;
    }

  }

  .navbar-default {
    border: none;
  }

  .navbar-default .navbar-toggle i {
    color: $ltgrey;
    font-size: 1.5em;
  }

  .menu-wide{
    text-align: center;
  }

  .menu-wide a{
    color: #bebcbc;
    font-weight: 300;
    font-size: .99em;
    letter-spacing: .09em;
    padding-left: 1em;
  }


}

.main-search {
  height: 60px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: rgba(238,238,238,.8);
  box-shadow: 0px 6px 6px  #d9d9d9;


  .input-group {
    margin-top: 10px;
    input, button {
      border-radius: 0;
    }

    input{
      width: 92%;
      height: 40px;
      padding: 1em;
      margin-top: 10px;
      font-weight: 200;
      display: inline;

      @media #{$tablet} {
        width: 60%;
      }

      @media #{$desktop}{
        width: 60%;
      }

      @media #{$large}{
        width: 70%;
      }

    }

    input::-webkit-input-placeholder {
      color: $dkgrey;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
      color: $dkgrey;  
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
      color: $dkgrey;  
    }
     
    input:-ms-input-placeholder {  
      color: $dkgrey;  
    }

    button {
      display: inline;
      border: 2px solid black;
      background-color: transparent;
      height: 40px;
      width: 7%;
      font-weight: 600;
      letter-spacing: .1em;
      i {
        font-size: 1em;
      }

      @media #{$tablet} {
        width: 25%;
      }

      @media #{$desktop}{
        width: 25%;
      }

      @media #{$large}{
        width: 28%;
      }
    }
  }
  .other-search {
    text-transform: uppercase;
    text-decoration: underline;
    height: 40px;
    padding-left: 0;
    padding-right: 0;

    @media #{$tablet}, #{$desktop} {
      display: inline;
    }

    @media #{$desktop} {
      display: inline;
    }

    @media #{$large} {
      display: inline;
    }

    h3 {
      color: $dkgrey;
    }

    i {
      font-size: 1em;
      padding:.4em;
    }

    .btn-primary {
      color: gray;
      background-color: transparent;
      border-color: transparent;
    }
    .btn {
      display: inline-block;
      margin-bottom: 0;
      font-size: 1.1em;
      text-decoration: underline;
      font-weight: 400;
      color: $dkgrey;
      line-height: 1.42857143;
      text-align: center;
      border: none;
      border-radius: 0;

      @media #{$large} {
        display: none;
      }
    }

    .dropdown-menu {
      top: 100%;
      left: 10%;
      z-index: 1000;
      font-size: 1em;
      text-align: right;
      border-radius: 0;

      @media #{$large} {
        display: inline;
        top: 10px;
        left: 0;
        width: 100%;
        background-color: transparent;
        border: none;
        box-shadow: none;
        text-align: center;
      }

      li {
       @media #{$large} {
          display: inline;
        }
      }

      li a{
        text-decoration: underline;
        padding: .2em;
        line-height: 200%;
        letter-spacing: .18em;
        color: $dkblue;

        @media #{$large} {
          display: inline;
          padding-left: 1em;
        }
      }
    }
  }
}

#main-menu-collapsed {
  border-top: 2px solid $ltgrey;

  a {
    color: $dkgrey;
    font-size: 1.2em;
    line-height: 2em;
  }
}

.breadcrumbs {
  list-style: none;
  margin-top: 10px;

  li {
    display: inline;
    padding-right: .6em;

    a {
      color: $dkblue;
      font-size: 1.1em;
      font-weight: 200;
      letter-spacing: 1px;
      padding-right: .6em;
    }

    i {
      color: $ltgrey;
      font-size: .8em;
    }
  }
}

.office-page {
  
  .container-fluid {
    padding-left: 6%;
    padding-right: 6%;
    border: 1px solid transparent;

    @media #{$tablet} {
      padding-left: 12%;
      padding-right: 12%;
    }

    @media #{$desktop}, #{$large} {
      padding-left: 4%;
      padding-right: 4%;
    }

    header {
      border:1px solid transparent;
      padding-top: 40px;
      padding-bottom: 60px;
      text-align: center;

      h1 {
        font-size: 2.4em;
        letter-spacing: .1em;
        text-transform: uppercase;
        font-family: Gotham-Light;
        color: $dkgrey;

        @media #{$tablet} {
          font-size: 2.6em;
        }

        @media #{$desktop}{
          font-family: Gotham-Thin;
          font-size: 3.4em;
        }

        @media #{$large} {
          font-family: Gotham-Thin;
          font-size: 4em;
        }
      }
    }

    .office-gallery {
      overflow: hidden;
      margin: 0 auto;
      width: 100%;
    

      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
    }

    .quick-info {
      font-family: Gotham-Medium;
      color: $dkgrey;


      @media #{$desktop}, #{$large} {
        font-size: 1em;
        font-family: Gotham-Light;
      }


      a {
        color: $dkblue;
        text-decoration:underline;

        i {
          padding-right: .5em;
        }
      }
    }

    ul {
      padding-bottom: 20px;
      font-size: 1.1em;
    }

    button {
      text-transform: uppercase;
      padding: 1em;
      width: 280px;
      margin-top: 20px;
      background-color: transparent;
      border: 2px solid $dkblue;
      color: $dkblue;
      font-family: Gotham-Medium;
      display: block;

      i {
        padding-left: .3em;
      }
    }

    h3 {
      font-size: 1.8em;
      color: $dkgrey;
      font-family: Gotham-Light;
      text-transform: uppercase;
      padding-bottom: .3em;
    }

    p {
      font-size: 1em;
      color: $dkgrey;
      font-family: Gotham-Light;
      padding-bottom: 1em;
      line-height: 1.8em;
    }
  }

  .descriptions {
    margin-top: 40px;
  }

  .staff {
    margin-top: 40px;

    h4 {
      position: absolute;
      margin-top: -19%;
      height: 17%;
      width: 66%;
      background-color: rgba(255, 255, 255, .7);
      z-index: 1000;
      font-family: Gotham-Light;
      color: $dkblue;
      line-height: 1.3em;
      text-transform: uppercase;
      font-size: 1.1;
      padding: .5em;

      @media #{$tablet} {
        font-size: 1.2em;
      }

      @media #{$desktop}, #{$large} {
        font-size: 1.5em;
      }
    }

    .person {
      padding: 0;
      margin-top: 40px;
      font-family: Gotham-Light;
      img {
        width: 66%;
        height: auto;
      }
      h3 {
        padding-bottom: .5em;
        font-size: 1.6em;
      }

      i {
        font-size: .7em;
        padding-left: 1em;
      }
      ul {
        list-style: none;
        padding: 1em;
        li {
          padding-bottom: .5em;
        }
        h5 {
          font-family: Gotham-Light;
          font-size: 1.2em;
          color: $dkblue;  
        }
        a {
          text-transform: uppercase;
          color: $dkblue;
          text-decoration: underline;
        }
        h6 {
          font-size: .9em;
          color: $ltgrey;
        }
      }
    }
  }
}

#contact-section {
  background-image: url(http://media.cdn.willisallen.com/pics/office/699/2509/) no-repeat center;

  height: 700px;

}