/***********Global********************   */
@font-face {
  font-family: 'Gotham';
  src: url("./supplied/fonts/Gotham/Gotham-Black.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-BlackItalic.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-Bold.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-BoldItalic.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-Book.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-BookItalic.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-Light.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-LightItalic.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-Medium.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-MediumItalic.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-Thin.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-ThinItalic.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-Ultra.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-UltraItalic.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-XLight.otf") format("otf"), url("./supplied/fonts/Gotham/Gotham-XLightItalic.otf") format("otf");
  /*url('./supplied/fonts/Gotham/Gotham-.otf') format('otf'),*/ }
.inline {
  display: inline; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

h3 {
  font-size: 16px;
  color: purple; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h3 {
      font-size: 18px;
      color: green; } }
  @media (min-width: 992px) {
    h3 {
      font-size: 60px;
      color: yellow; } }

.responsive-box {
  background-color: #ffe6ff;
  margin-top: 200px; }

.boxes {
  border: 1px solid gray; }

/*End responsive design testing*/
body {
  margin: 0;
  padding: 0; }

.t-bord {
  border: 1px solid red; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham', Arial, sans-serif;
  margin: 0;
  padding: 0; }

/***********Structure********************   */
.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4%;
  padding-right: 4%; }
  .site-header .main-logo img {
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) and (max-width: 1023px), (min-width: 992px), (min-width: 1200px) {
      .site-header .main-logo img {
        margin-left: 0; } }
  .site-header .sign-in {
    color: #666;
    padding-right: 10px; }
    .site-header .sign-in h5 {
      font-weight: 200; }
    .site-header .sign-in i {
      padding-left: 4px;
      padding-right: 4px;
      border: 1px solid #bebcbc; }
  .site-header .navbar {
    background-color: white;
    padding: 0;
    margin-bottom: 0; }
    @media (min-width: 992px) {
      .site-header .navbar {
        padding-top: 10px; } }
    @media (min-width: 1200px) {
      .site-header .navbar {
        padding-top: 10; } }
  .site-header .navbar-toggle {
    width: 96%;
    border-radius: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .site-header .navbar-toggle {
        width: 50px;
        height: 50px;
        margin-right: 35%; } }
  .site-header .navbar-default {
    border: none; }
  .site-header .navbar-default .navbar-toggle i {
    color: #bebcbc;
    font-size: 1.5em; }
  .site-header .menu-wide {
    text-align: center; }
  .site-header .menu-wide a {
    color: #bebcbc;
    font-weight: 300;
    font-size: .99em;
    letter-spacing: .09em;
    padding-left: 1em; }

.main-search {
  height: 60px;
  padding-left: 4%;
  padding-right: 4%;
  background-color: rgba(238, 238, 238, 0.8);
  box-shadow: 0px 6px 6px  #d9d9d9; }
  .main-search .search-address {
    width: 100%;
    height: 80px;
    border: 1px solid orange;
    padding-right: 60px; }
    @media (min-width: 768px) and (max-width: 1023px), (min-width: 992px), (min-width: 1200px) {
      .main-search .search-address {
        padding-right: 0; } }
    .main-search .search-address form {
      width: 100%;
      border: 1px solid red;
      display: block; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .main-search .search-address form {
          width: 50%; } }
      @media (min-width: 992px) {
        .main-search .search-address form {
          width: 40%; } }
      @media (min-width: 1200px) {
        .main-search .search-address form {
          width: 30%; } }
  .main-search .input-group {
    margin-top: 10px;
    position: relative; }
    .main-search .input-group input, .main-search .input-group button {
      border-radius: 0; }
    .main-search .input-group input {
      width: 100%;
      height: 40px;
      padding: 1em;
      font-weight: 200;
      position: absolute; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .main-search .input-group input {
          display: inline; } }
      @media (min-width: 992px) {
        .main-search .input-group input {
          display: inline; } }
      @media (min-width: 1200px) {
        .main-search .input-group input {
          display: inline; } }
    .main-search .input-group input::-webkit-input-placeholder {
      color: #666; }
    .main-search .input-group input:-moz-placeholder {
      /* Firefox 18- */
      color: #666; }
    .main-search .input-group input::-moz-placeholder {
      /* Firefox 19+ */
      color: #666; }
    .main-search .input-group input:-ms-input-placeholder {
      color: #666; }
    .main-search .input-group button {
      position: absolute;
      border: 2px solid black;
      background-color: transparent;
      margin-left: 100%;
      height: 40px;
      width: 40px;
      font-weight: 600;
      letter-spacing: .1em; }
      .main-search .input-group button i {
        font-size: 1em; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .main-search .input-group button {
          display: inline;
          width: 27%; } }
      @media (min-width: 992px) {
        .main-search .input-group button {
          display: inline;
          width: 27%; } }
      @media (min-width: 1200px) {
        .main-search .input-group button {
          display: inline;
          width: 29%; } }
  .main-search .other-search {
    text-transform: uppercase;
    text-decoration: underline;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 66%;
    margin-top: -10px; }
    @media (min-width: 768px) and (max-width: 1023px), (min-width: 992px), (min-width: 1200px) {
      .main-search .other-search {
        display: inline; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .main-search .other-search {
        display: inline;
        width: 25%; } }
    @media (min-width: 1200px) {
      .main-search .other-search {
        margin-left: 41.5%; } }
    .main-search .other-search h3 {
      color: #666; }
    .main-search .other-search i {
      font-size: 1em;
      padding: .4em; }
    .main-search .other-search .btn-primary {
      color: gray;
      background-color: transparent;
      border-color: transparent; }
    .main-search .other-search .btn {
      display: inline-block;
      margin-bottom: 0;
      font-size: 1.1em;
      text-decoration: underline;
      font-weight: 400;
      color: #666;
      line-height: 1.42857143;
      text-align: center;
      border: none;
      border-radius: 0; }
      @media (min-width: 1200px) {
        .main-search .other-search .btn {
          display: none; } }
    .main-search .other-search .dropdown-menu {
      top: 100%;
      left: 10%;
      z-index: 1000;
      font-size: 1em;
      text-align: right;
      border-radius: 0; }
      @media (min-width: 1200px) {
        .main-search .other-search .dropdown-menu {
          display: inline;
          top: 10px;
          left: 0;
          width: 100%;
          background-color: transparent;
          border: none;
          box-shadow: none;
          text-align: center; } }
      @media (min-width: 1200px) {
        .main-search .other-search .dropdown-menu li {
          display: inline; } }
      .main-search .other-search .dropdown-menu li a {
        text-decoration: underline;
        padding: .2em;
        line-height: 200%;
        letter-spacing: .18em;
        color: #00264d; }
        @media (min-width: 1200px) {
          .main-search .other-search .dropdown-menu li a {
            display: inline;
            padding-left: 1em; } }

#main-menu-collapsed {
  border-top: 2px solid #bebcbc; }
  #main-menu-collapsed a {
    color: #666;
    font-size: 1.2em;
    line-height: 2em; }

.breadcrumbs {
  list-style: none;
  margin-top: 10px; }
  .breadcrumbs li {
    display: inline;
    padding-right: .6em; }
    .breadcrumbs li a {
      color: #00264d;
      font-size: 1.1em;
      font-weight: 200;
      letter-spacing: 1px;
      padding-right: .6em; }
    .breadcrumbs li i {
      color: #bebcbc;
      font-size: .8em; }

.office-page .container-fluid {
  padding-left: 6%;
  padding-right: 6%;
  border: 1px solid transparent; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .office-page .container-fluid {
      padding-left: 12%;
      padding-right: 12%; } }
  @media (min-width: 992px), (min-width: 1200px) {
    .office-page .container-fluid {
      padding-left: 4%;
      padding-right: 4%; } }
  .office-page .container-fluid header {
    border: 1px solid transparent;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center; }
    .office-page .container-fluid header h1 {
      font-size: 2.4em;
      letter-spacing: .1em;
      text-transform: uppercase;
      font-family: Gotham-Light;
      color: #666; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .office-page .container-fluid header h1 {
          font-size: 2.6em; } }
      @media (min-width: 992px) {
        .office-page .container-fluid header h1 {
          font-family: Gotham-Thin;
          font-size: 3.4em; } }
      @media (min-width: 1200px) {
        .office-page .container-fluid header h1 {
          font-family: Gotham-Thin;
          font-size: 4em; } }
  .office-page .container-fluid .office-gallery {
    overflow: hidden;
    margin: 0 auto;
    width: 100%; }
    .office-page .container-fluid .office-gallery img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px; }
  .office-page .container-fluid .quick-info {
    font-family: Gotham-Medium;
    color: #666; }
    @media (min-width: 992px), (min-width: 1200px) {
      .office-page .container-fluid .quick-info {
        font-size: 1em;
        font-family: Gotham-Light; } }
    .office-page .container-fluid .quick-info a {
      color: #00264d;
      text-decoration: underline; }
      .office-page .container-fluid .quick-info a i {
        padding-right: .5em; }
  .office-page .container-fluid ul {
    padding-bottom: 20px;
    font-size: 1.1em; }
  .office-page .container-fluid button {
    text-transform: uppercase;
    padding: 1em;
    width: 280px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #00264d;
    color: #00264d;
    font-family: Gotham-Medium;
    display: block; }
    .office-page .container-fluid button i {
      padding-left: .3em; }
  .office-page .container-fluid h3 {
    font-size: 1.8em;
    color: #666;
    font-family: Gotham-Light;
    text-transform: uppercase;
    padding-bottom: .3em; }
  .office-page .container-fluid p {
    font-size: 1em;
    color: #666;
    font-family: Gotham-Light;
    padding-bottom: 1em;
    line-height: 1.8em; }
.office-page .descriptions {
  margin-top: 40px; }
.office-page .staff {
  margin-top: 40px; }
  .office-page .staff h4 {
    position: absolute;
    margin-top: -19%;
    height: 17%;
    width: 66%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    font-family: Gotham-Light;
    color: #00264d;
    line-height: 1.3em;
    text-transform: uppercase;
    font-size: 1.1;
    padding: .5em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .office-page .staff h4 {
        font-size: 1.2em; } }
    @media (min-width: 992px), (min-width: 1200px) {
      .office-page .staff h4 {
        font-size: 1.5em; } }
  .office-page .staff .person {
    padding: 0;
    margin-top: 40px;
    font-family: Gotham-Light; }
    .office-page .staff .person img {
      width: 66%;
      height: auto; }
    .office-page .staff .person h3 {
      padding-bottom: .5em;
      font-size: 1.6em; }
    .office-page .staff .person i {
      font-size: .7em;
      padding-left: 1em; }
    .office-page .staff .person ul {
      list-style: none;
      padding: 1em; }
      .office-page .staff .person ul li {
        padding-bottom: .5em; }
      .office-page .staff .person ul h5 {
        font-family: Gotham-Light;
        font-size: 1.2em;
        color: #00264d; }
      .office-page .staff .person ul a {
        text-transform: uppercase;
        color: #00264d;
        text-decoration: underline; }
      .office-page .staff .person ul h6 {
        font-size: .9em;
        color: #bebcbc; }

#contact-section {
  /* Using hosted background image from actual site for experiment*/
  background: url("http://media.cdn.willisallen.com/pics/office/699/2509/") no-repeat center; }
  #contact-section .my-form {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.88);
    margin-top: 40px;
    margin-bottom: 40px; }
  #contact-section header {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px; }
    #contact-section header h3 {
      font-size: 2.5em; }
  #contact-section input {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    font-family: Gotham-Light; }
  #contact-section input::-webkit-input-placeholder {
    color: #666; }
  #contact-section input:-moz-placeholder {
    /* Firefox 18- */
    color: #666; }
  #contact-section input::-moz-placeholder {
    /* Firefox 19+ */
    color: #666; }
  #contact-section input:-ms-input-placeholder {
    color: #666; }
  #contact-section i.fa-sort-desc {
    position: absolute;
    margin-top: -46px;
    margin-left: 80%; }
  #contact-section .half input {
    padding-left: .5em;
    height: 40px;
    width: 100%; }
  #contact-section .message {
    padding-right: 1em;
    padding-left: 1em;
    font-size: 1em;
    font-family: Gotham-Light;
    color: #666;
    border: 1px solid transparent; }
    #contact-section .message textarea {
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: .5em;
      height: 140px;
      width: 100%;
      color: #666;
      border: 1px solid #bebcbc; }
  #contact-section .rad {
    font-family: Gotham-Book; }
    #contact-section .rad h5 {
      text-transform: uppercase; }
    #contact-section .rad .container {
      padding-left: 0;
      padding-top: 1em;
      width: 100%; }
      #contact-section .rad .container input {
        margin-top: 0;
        margin-bottom: .5em; }
      #contact-section .rad .container span {
        padding-left: .5em; }
    #contact-section .rad #roundedOne {
      height: 100px; }
  #contact-section button {
    width: 100%; }

/*# sourceMappingURL=main.css.map */
